{% extends "layout.html" %}

{% block body %}
<br/>
Below is a plotly interactive plot that shows 2015 LendingClub data by states
<div>
    <a href="https://plot.ly/~puhanzhang/28/?share_key=cxrtcr17KnxYSZKfbL2Or0" target="_blank" title="plot from API (14)" style="display: block; text-align: center;"><img src="https://plot.ly/~puhanzhang/28.png?share_key=cxrtcr17KnxYSZKfbL2Or0" alt="plot from API (14)" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="puhanzhang:28" sharekey-plotly="cxrtcr17KnxYSZKfbL2Or0" src="https://plot.ly/embed.js" async></script>
</div>
    
    
{% endblock %}
